<div class="mt-10">
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="text-white">
<h3 class="font-bold text-2xl">Who's this?</h3>
<p>A creative problem solver, a leader and motivator: Jason Faulkner!
</p>
<p>Currently working on achieving my next <b>AWS certificate: Solutions Architect Associate</b>.</p>
<p>I love to explore different technology stacks and collaborate with others to prototype, test and manage applications.</p>

</div>


</div>


