<div class="mt-10">
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="text-white">
<h1 class="font-bold">Honeymkr.Solutions</h1>
<h3 class="font-bold text-2xl">Systems // Architecture</h3>
<p>Certified Solutions Architect Associate ~ AWS</p>
<p>Golang, Ruby on Rails</p>
<p>Docker, Kubernetes, Microservices, Event-Driven Applications</p>
</div>


</div>


