<div class="nav-block">

<ul class="flex">
  <li class="mr-6">
  <%= link_to "Case Studies", '#', class: "hover:text-blue-800"  %>
  </li>

  <li class="mr-6">
   <%= link_to "Resume", '#', class: "hover:text-blue-800" %>
  </li>
  <li class="mr-6">  
  <a class="hover:text-blue-800" href="https://github.com/honeymkr/" target="_blank" >Github</a>
  </li>
</ul>


</div>
